@{
    ViewBag.Title = "Acerca de";
    ViewBag.ActiveMenuItem = "about";
}
<h2>@ViewBag.Title.</h2>
<p>El sistema es la entrega final para la materia Programación dictada en el tercer semestre de la Universiadad O.R.T.</p>
