@* @model IEnumerable<Dominio.Vivienda> *@ 
@{
    ViewBag.Title = "Fltros de búsqueda";
}

<h2>Vivienda</h2>
<h4>Filtros de búsqueda</h4>
<hr />

@Html.BeginForm("HowManyBedrooms","Vivienda"){
<div class="card-body" id="cantDormitorios">
    <h5 class="card-title">Cantidad de dormitoros</h5>

    <input type="text" class="form-control"/>

    <input type="submit" value="enviar" class="btn-primary" />
</div>
 }



<div class="card-body" id="rangoPrecos">
    <h5 class="card-title">Rango de precios</h5>
    <label for="precioMin">Precio mínimo</label>
    <input type="text" name="precioMin" />
    <label for="precioMax">Preco máximo</label>
    <input type="text" name="precioMax" />


    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>

<div class="card-body" id="barrios">
    <h5 class="card-title">Filtro por barrios</h5>

    <select class="form-group"></select>

    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>



<div class="card-body" id="estados">
    <h5 class="card-title">Estado de vivienda</h5>

    <select class="form-group">
        <option>Seleccionar</option>
        <option>Habilitada</option>
        <option>Inhabilitada</option>
        <option>Sorteada</option>
        <option>Recibida</option>
    </select>

    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>



<div class="card-body" id="nuevaUsada">
    <h5 class="card-title">Tipo de vivienda</h5>

    <select class="form-group">
        <option>Seleccionar</option>
        <option>Nueva</option>
        <option>Usada</option>
    </select>

    <a href="#" class="btn btn-primary">Go somewhere</a>
</div>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");

    <script type="text/javascript">
        $("#slc_FiltroCantDorm").change(function () {
            $('#slc_FiltroRangoPrecios').prop('disabled', 'disabled');
            $('#slc_FiltroBarrios').prop('disabled', 'disabled');
            $('#slc_FiltroEstados').prop('disabled', 'disabled');
            $('#slc_NuevaUsada').prop('disabled', 'disabled');
        });

        $("#slc_FiltroRangoPrecios").change(function () {
            $('#slc_FiltroCantDorm').prop('disabled', 'disabled');
            $('#slc_FiltroBarrios').prop('disabled', 'disabled');
            $('#slc_FiltroEstados').prop('disabled', 'disabled');
            $('#slc_NuevaUsada').prop('disabled', 'disabled');
        });

        $("#slc_FiltroBarrios").change(function () {
            $('#slc_FiltroCantDorm').prop('disabled', 'disabled');
            $('#slc_FiltroRangoPrecios').prop('disabled', 'disabled');
            $('#slc_FiltroEstados').prop('disabled', 'disabled');
            $('#slc_NuevaUsada').prop('disabled', 'disabled');
        });

        $("#slc_FiltroEstados").change(function () {
            $('#slc_FiltroCantDorm').prop('disabled', 'disabled');
            $('#slc_FiltroRangoPrecios').prop('disabled', 'disabled');
            $('#slc_FiltroBarrios').prop('disabled', 'disabled');
            $('#slc_NuevaUsada').prop('disabled', 'disabled');
        });

        $("#slc_NuevaUsada").change(function () {
            $('#slc_FiltroCantDorm').prop('disabled', 'disabled');
            $('#slc_FiltroRangoPrecios').prop('disabled', 'disabled');
            $('#slc_FiltroBarrios').prop('disabled', 'disabled');
            $('#slc_FiltroEstados').prop('disabled', 'disabled');
        });

    </script>
}