@{
    ViewBag.Title = "Inicio";
    ViewBag.ActiveMenuItem = "home";
}

<div class="jumbotron">
    <h1 class="text-center">Solución Habitacional</h1>
    <p class="text-center">Bienvenido al sistema de sorteos de viviendas.</p>
</div>
