@model Dominio.Clases.Barrio

@{
    ViewBag.Title = "Details";
    ViewBag.ActiveMenuItem = "barrio";
}

<h2>Details</h2>

<div>
    <h4>Barrio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_barrio)
        </dd>

        <dt>
            Descripción:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver al listado", "Index")
</p>
